<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="https://payjs.cn/api/cashier">
  First name:<br>
  <input type="text" name="mchid" value="ZBEQWD">
  <br>
  Last name:<br>
  <input type="number" name="total_fee" value="100">
  <br>
  Last name:<br>
  <input type="text" name="out_trade_no" value="201861702739"><br>
  Last name:<br>
  <input type="text" name="sign" value="15765780AB392B31B3D88D929394D30D">
  <br>
  <input type="submit" value="Submit">
</form>

<p>11111111</p>
</body>
</html>