<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>信息确认</title>
</head>
<body>
    <div>
        <div>
            <label>本次应缴</label>
            <label>{{ fee_amount }}</label>
        </div>

        <div>
            <label>缴费方式</label>
            <label>{{ sub_method }}</label>
        </div>

         <div>
            <label>月缴费金额</label>
            <label>{{ monthly_fee }} 元 </label>
        </div>

        <div>
            <label>缴费单位</label>
            <label>{{ apart }}</label>
        </div>

        <div>
            <label>员工号
                <span id="staff_no">{{ staff_no }}</span>
            </label>
        </div>

        <div>
            <label>员工姓名</label>
            <label>{{ staff_name }}  </label>
        </div>

       <div>
            <label>职务和职级</label>
            <label>{{ staff }} </label>
        </div>

        <div>
            <form action="sign" method="POST" enctype="multipart/form-data">
                <input type="hidden" value={{ mchid }} name='mchid' >
                 <input type="hidden" value={{ total_fee }} name='total_fee' >
                 <input type="hidden" value={{ out_trade_no }} name='out_trade_no' >
                 <input type="hidden" value={{ callback_url }} name='callback_url' >
                 <input type="hidden" value={{ sign }} name='sign' >

                {% csrf_token %}
                <input type="submit" value="缴费">
            </form>
        </div>
    </div>


</body>
</html>